    <h1 class="display-4 fw-bold pb-2">Citas pendientes</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {{#each notes}} <!-- repite por cada carta -->
        <div class="col mb-4 ">
            <div class="card h-100">
                <h4 class="card-header text-center"><b>{{moment fecha 'DD-MM-YYYY HH:mm'}}</b></h4>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} <a href="/notes/edit/{{_id}}"><i class="fa-solid fa-pencil"></i></a>
                    </h5>
                    <p>Entrenador: {{this.entrenador}}</p>
                    <p>Detalles: {{description}}</p>
                    <form id="delete-form-{{_id}}" action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button id="delete-btn" type="submit" class="btn btn-danger btn-block btn-sm">BORRAR</button>
                    </form>
                    <script>
                       document.getElementById("delete-form-{{_id}}").addEventListener("submit", function(event) {
                            console.log('Funciona');
                            var confirmation = confirm("¿Estás seguro que deseas borrar esta cita?");
                            if (!confirmation) {
                                event.preventDefault();
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    {{/each}}
</div>

