<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3><b>Editando Cita</b></h3>
        </div>
        <div class="card-body">
            <form action="/notes/edit/{{note._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group mb-3">
                    <input type="text" name="title" class="form-control" value="{{note.title}}">
                </div>
                <div class="form-group mb-3">
                    <textarea name="description" class="form-control">{{note.description}}</textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="fecha">Fecha</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="date" class="form-control" id="fecha" name="fecha"
                                value="{{moment note.fecha 'YYYY-MM-DD'}}" min="{{fechaHoy}}">
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" name="hora" id="hora">
                                {{#each horasLibres}}
                                <option value="{{this}}" {{#if (eq this ../horaCita)}} selected {{/if}}>
                                    {{this}}
                                </option>

                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <button class="btn btn-primary btn-block" type="submit">GUARDAR</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    async function updateHorasSelect() {
        console.log('se ejecuta')
        //guarda los valores de campos
        const selectedUserId = "{{note.idEntrenador}}";
        const diaSelect = document.querySelector('[name="fecha"]').value;
        const horasSelect = document.querySelector('[name="hora"]');
        const idCita = "{{note._id}}";
        //El script solo se ejecuta si campos ID y FECHA != null
        console.log('empieza el script');
        console.log('Id cita: ' + idCita);
        console.log('Día seleccionado' + diaSelect);
        try {
            //busca en la base de datos
            const response = await fetch(`/users/horas/${selectedUserId}/${diaSelect}/${idCita}`);
            const selectedUser = await response.json();
            const HorasUsuario = selectedUser.horas;
            // limpia las opciones previas
            horasSelect.innerHTML = '<option selected disabled>Seleccione Hora</option>';
            // Add new options based on the selected user's "Horas" array
            HorasUsuario.forEach(hora => {
                const option = document.createElement('option');
                option.value = hora;
                option.text = hora;
                horasSelect.appendChild(option);
            });
        } catch (error) {
            console.error(error);
        }
    };
    document.querySelector('[name="fecha"]').addEventListener('change', updateHorasSelect);
</script>