<h1 class="display-4 fw-bold pb-2">Todas las citas pendientes</h1>
<div class="card py-1 px-4 mb-2">
    <b>Seleccione fecha para filtrar:</b>
    <div class="row row-cols-2">
        <div class="col">
            <input type="date" id="date-filter" class="form-control mb-2" text="Select date range">
        </div>
        <div class="col">
            <button class="btn btn-primary" type="button" id="clear-date">Limpiar Filtro</button>
        </div>
    </div>
</div>

<div id="mycard"class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {{#each notes}} <!-- repite por cada carta -->
        <div class="col mb-4 ">
            <div class="card h-100">
                <h4 class="card-header text-center"><b>{{moment fecha 'DD-MM-YYYY HH:mm'}}</b></h4>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} <a href="/notes/edit/{{_id}}"><i class="fa-solid fa-pencil"></i></a>
                    </h5>
                    <p>Cliente: {{this.cliente}}</p>
                    <p>Detalles: {{description}}</p>
                    <form id="delete-form-{{_id}}" action="/entrenador/citas/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">BORRAR</button>
                    </form>
                    <script>
                       document.getElementById("delete-form-{{_id}}").addEventListener("submit", function(event) {
                            console.log('Funciona');
                            var confirmation = confirm("¿Estás seguro que deseas borrar esta cita?");
                            if (!confirmation) {
                                event.preventDefault();
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    {{/each}}
</div>

{{!-- Filtro por fecha --}}
    <script>
        $("#date-filter").on("change", function() {
            var value = $(this).val();
            $("#mycard > .col").each(function() {
                var noteDate = moment($(this).find(".card-header b").text(), "DD-MM-YYYY HH:mm").format("YYYY-MM-DD");
                if(noteDate === value){
                    $(this).show();
                }else{
                    $(this).hide();
                }
            });
        });
        $("#clear-date").on("click", function() {
            $("#date-filter").val("");
            $("#mycard > .col").show();
        });
    </script>