<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Preferencias</h3>
        </div>
        <div class="card-body">
            <form action="/entrenador/preferencias/{{user._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="name" class="form-control mb-3" value="{{user.name}}">
                </div>
                <p></p>
                <div class="form-group">
                    <textarea name="email" class="form-control mb-3">{{user.email}}</textarea>
                </div>
                <p>Seleccione las horas en las que esté disponible, (Las citas creadas antes de este cambio seguirán existiendo):</p>
                <div class="row row cols-3">
                    {{#each allHours}}
                    <div class="col">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="{{this}}" name="horasCheck" value="{{this}}" {{#if (contains ../user.horas this)}}checked{{/if}}> {{this}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">GUARDAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
